body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(4, 70, 124, 0.678);
}
.cards {
    background-color: rgba(223, 217, 217, 0.76);
    border: 1px solid rgb(13, 94, 148);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(1, 1, 46);
    max-width: 92%;
    margin: 0 auto;
    padding: 10px;
}
section {
    background-color: rgba(4, 70, 124, 0.678);
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}
section h2 {
    text-align: center;
    margin-bottom: 0;
    color: rgb(2, 29, 44);
    text-shadow: 1px 1px 3px white;
}
section p {
    text-align: center;
}
.b_place {
    margin-top: -10px;
}
section img {
    max-width: 90%;
    display: block;
    margin: 10px auto;
}
footer {
    background-color: rgb(6, 39, 100);
    text-align: center;
    margin-top: 10px;
    color: white;
    padding: 20px;
}

@media only screen and (min-width: 40em) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    section {
        transition: transform 0.3s;
    }
    section:hover {
        transform: scale(1.02);
    }
}
@media only screen and (min-width: 80em) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}