body {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(236, 235, 235);
}
.notification {
    max-width: 100%;
    background-color: rgb(65, 97, 238);
    text-align: center;
    padding: 12px;
}
.notification a {
    color: black;
    text-decoration: none;
}
header {
    display: grid;
    grid-template-columns: 70px 1fr 80px;
    grid-template-rows: 1fr;
    background-color: rgb(10, 10, 114);
    color: white;
}
.logo {
    max-width: 70px;
}
header h1 {
    font-size: 1.1em;
    margin: 20px 0 -13px 5px;
}
header p {
    font-size: 0.8em;
    margin-left: 10px;
}
nav {
    display: none;
    grid-column: 1/-1;
    text-align: center;
    background-color: rgb(2, 2, 78);
}
#navigation {
    padding-left: 0;
    margin-top: 0;
}
#navigation li {
    list-style-type: none;
    padding: 0;
}
#navigation li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    padding: 10px;
}
#navigation li a:hover {
    background-color: rgb(54, 89, 243);
    text-decoration: underline;
}
.ham {
    color: rgb(54, 89, 243);
    font-size: 2em;
    text-decoration: none;
    text-align: right;
    margin-top: 15px;
    margin-right: 20px;
}
.responsive {
    display: block !important;
}
.preston {
    font-size: 1.2em;
    margin: 0 0 0 10px;
    padding: 6px;
    color: rgb(54, 89, 243);
}
.hero {
    max-width: 100%;
    margin: 0 auto;
}
.summery h2, .summery p {
    margin: 10px 0 0 20px;
}
.summery h2 {
    font-size: 1em;
    color: rgb(54, 89, 243);
}
.summery p {
    margin-bottom: 10px;
    margin-right: 10px;
}
.five-large {
    display: none;
}
.five-large h3 {
    margin-left: 25px;
    color: rgb(54, 89, 243);
    margin-bottom: 25px;
}
.five-day-large {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(10, 10, 114);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 1.1em;
}
.article {
    border: black 1px solid;
}
.article h2 {
    background-color: rgb(10, 10, 114);
    color: white;
    font-size: 1.1em;
    text-align: center;
    padding: 15px;
    margin-top: 0;
}
.article h3, .article p, .article img {
    margin-left: 20px;
}
.article h3 {
    color: rgb(54, 89, 243);
}
.article p {
    margin-right: 10px;
}
.article-img {
    max-width: 90%;
    margin: 0 auto;
}
footer {
    background-color: rgb(10, 10, 114);
    color: white;
}
footer h3 {
    margin-top: 0;
    padding: 10px 0 0 20px;
    font-size: 1em;
}
footer p {
    padding-left: 20px;
    font-size: 0.9em;
}
footer .map {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.map-image {
    max-width: 90%;
}
.footer-bar {
    background-color: rgb(2, 2, 78);
}
.legal, .highlight {
    text-align: center;
    padding-left: 0;
}
.legal a {
    color: white;
}
.highlight {
    padding-bottom: 10px;
    margin-bottom: 0;
}
#lastupdated {
    color: yellow;
}

@media only screen and (min-width: 50em) {
    main {
        margin: 0 150px;
    }
    .logo {
        margin-left: 150px;
        max-width: 100px;
    }
    .title {
        margin-left: 180px;
        margin-top: 10px;
    }
    .title h1 {
        font-size: 1.8em;
    }
    .ham {
        display: none;
    }
    nav {
        display: block;
    }
    #navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0 150px;
    }
    #navigation li {
        display: block;
    }
    #navigation li a {
        padding: 15px;
    }
    .preston {
        font-size: 2.1em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .banner {
        display: grid;
        grid-template-columns: 50px 250px 1fr;
        grid-template-rows: 50px 1fr 50px;
    }
    .hero {
        max-width: 100%;
        grid-column: 1/-1;
        grid-row: 1/-1;
    }
    .summery {
        border: black 1px solid;
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: rgba(211, 211, 211, 0.808);
    }
    .five-large {
        display: block;
    }
    .article {
        margin-bottom: 10px;
        height: 200px;
    }
    .article h2 {
        display: none;
    }
    .article p {
        padding-right: 260px;
    }
    .article-img {
        float: right;
        margin-top: -142px;
        margin-right: 50px;
        width: 200px;
    }
    footer {
        clear: both;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .map {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .map-image {
        max-width: 70%;
        margin-left: 120px;
    }
    .contact-info {
        grid-column: 2/3;
    }
    .footer-bar {
        grid-column: 1/-1;
        background-color: rgb(2, 2, 78);
    }
}
@media only screen and (min-width: 80em) {
    .logo {
        margin-left: 150px;
        max-width: 140px;
    }
    .title {
        margin-left: 220px;
        margin-top: 30px;
    }
    .title h1 {
        font-size: 1.8em;
    }
}