body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.title {
    text-align: center;
    background-color: rgb(18, 18, 53);
    color: white;: 0 auto;
    grid-column: 1/-1;
    margin-top: 10px;
}
.title h1 {
    margin: 10px 0 -15px 0;
}
.white {
    background-color: lightgray;
    border: black 0.5px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}
.white h2 {
    background-color: rgb(68, 72, 92);
    color: white;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
    font-size: 1.1em;
    padding: 3px 0 3px 7px;
}
.white img {
    display: block;
    margin: 0 auto;
    width: 98%;
    margin-top: 15px;
}
.white-web-name {
    margin: -5px 0 15px 10px;
    
}
.white-web-link {
    margin: -5px 0 10px 10px;
}
.white-descrip {
    padding: 0 7px;
    line-height: 1.4em;
}
.align {
    background-color: lightgray;
    border: black 0.5px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}
.align h2 {
    background-color: rgb(68, 72, 92);
    color: white;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
    font-size: 1.1em;
    padding: 3px 0 3px 7px;
}
.align img {
    display: block;
    margin: 0 auto;
    width: 98%;
    margin-top: 15px;
}
.align-web-name {
    margin: -5px 0 15px 10px;
    
}
.align-web-link {
    margin: -5px 0 10px 10px;
}
.align-descrip {
    padding: 0 7px;
    line-height: 1.4em;
}
.visual {
    background-color: lightgray;
    border: black 0.5px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}
.visual h2 {
    background-color: rgb(68, 72, 92);
    color: white;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
    font-size: 1.1em;
    padding: 3px 0 3px 7px;
}