body {
    font-family: 'Ubuntu', sans-serif;
}
table, tr, td, th {
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
    text-align: center;
}
table {
    margin: 0 auto;
    width: 360px;
    height: 400px;
    box-shadow: 10px 10px 15px #628ca6;
}
thead tr th {
    background-color: #7fb9c2;
    font-size: 34px;
    padding: 10px;
}
tbody th {
    background-color: #628ca6;
    color: white;
    font-size: 22px;
}
tbody tr td {
    font-size: 22px;
}
tbody tr {
    background-color:  #e7f0ed;
}
tbody tr:nth-child(odd) {
    background-color:  #e7ffed;
}
#dark-blue {
    background-color: #628ca6;
    color: white;
    font-size: 22px;
}
tfoot td {
    padding: 10px 0;
    background-color: #7fb9c2;
    font-size: 14px;
}